.header-line{
    background-color: #E791C0 !important;
}
html{
    height: 100%;
}
.image_div_sign_login{
    background-image: url(../designWeb/bg1.png);
    background-size:contain;
    background-position: center 30px;
}
.image_div_main{
    background-image: url(../designWeb/bg_new.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center 30px;
    background-attachment: fixed;
}
.image_div_game{
    background-image: url(../designWeb/bg_game3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main-content{
    margin-top: 7rem;
}
.box-shadow{
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}
.full-high{
    min-height: 100%;
}

/* cho button */
.pink-1{
    background-color: rgba(245, 20, 96, 0.7);
    color: #FFF;
}

.pink-2{
    color:rgba(245, 20, 96, 1)
}
.pd-3{
    padding: 0.5rem 2rem
}

.mar-r-1{
    margin-right: 1rem;
}

.mar-l-1{
    margin-left: 1rem;
}

.text-title{
    font-size: 30px;
    font-weight: bold;
    color: rgba(232, 20, 134, 0.8)
}

.right-side{
    float: right;
    position: absolute;
    bottom:0;
    right: 0;
}

.align-right{
    text-align: right;
}

.bold-font{
    font-weight: bold;
}

.sign-up, .login{
    background-color: #F9E0EE;
    padding: 2rem;
    margin-top: 8rem;
    border-radius: 30px;
    width: 40%;
}

.cover-btn{
    font-weight: bold;
}

.cover-btn:hover{
    background-color: rgba(245, 20, 96, 0.5) ;
}
.disabled_link{
    pointer-events: none;
    cursor: default;
    opacity: 0.8;
}
.pass:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,0.5);
}
.drop_item:hover{
    background-color: #F9E0EE ;
}
.drop_item_user{
    margin: 0.5rem 0;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    padding-bottom: 0.5rem;
}

.single-pink-btn{
    background-color: #F1C2DB;
    color: #E81486 ;
    font-weight: bold;
    font-size: 20px;
}


.single-pink-btn:hover{
    background-color: rgba(243, 120, 187, 1);
    color: #FFF;
}
.list-btn{
    padding-left: 3%;
}

.list-btn-game .pink-btn{
    background-color:rgba(243, 120, 187, 1);
    color: #FFF;
    border-radius: 30px;
}
.list-btn-game .pink-btn:hover{
    background-color:rgba(243, 120, 187, 0.5);
}
.list-game__item, .list-game-history__item{
    background-color: #F8D4E7;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.list-game__item:hover{
    background-color: rgba(241, 194, 219, 0.5);
}
.list-game__btn{
    border: none;
    background-color: transparent;
    padding: 0;
    color: rgba(0,0,0,0.5);
}

.list-game__btn:hover{
    color: #E791C0;
}

.game_group{
    background-color: rgba(246, 196, 223, 1);
    border-radius: 20px;
    border-right: 10px solid rgba(243, 120, 187, 1);
    border-bottom: 10px solid rgba(243, 120, 187, 1);
}
.game_title{
    font-size: 20px;
}

.text-point{
    color: #E81486;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
}

.page-link-text{
    color: #E81486;
}

.page-link-text:hover{
    background-color: #E791C0;
    color: #FFF;
}
.voca-table{
    border: 1px solid rgba(243, 120, 187, 0.5);
}

.voca-table__title{
    background-color:#F6C4DF !important;
}

.game_content{
    margin-top:8rem;
    margin-left: auto;
    margin-right: auto;
}

.game_question{
    text-align: center;
    border-radius: 10px;
    background-color: #FFF;
    padding: 3rem 0;
    font-size: 25px;
    border: 2px solid rgba(243, 120, 187, 1);
}
.game_answer{
    margin-top: 4rem;
    height: 50px;
    border-radius: 50px;
    border: 2px solid rgba(243, 120, 187, 1);
}
.circle{
    background-color: #F378BB;
    border-radius: 90px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 20px;
}
.time_board{
    margin-top: -5rem;
}

.game_content_btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.game_result{
    text-align: center;
    font-size: 20px;
    margin-top: 2rem;
}
.game_answer_option{
    margin-top: 2rem;
    justify-content: space-around;
    text-align: center;
}
.game_option{
    background-color: #FFF;
    border-radius: 20px;
    padding: 1rem;
    border: 2px solid rgba(243, 120, 187, 1);
}

.game_option:hover{
    background-color: #F1C2DB;
    border-radius: 20px;
    padding: 1rem;
    border: 2px solid rgba(243, 120, 187, 1);
}
.game_option:focus{
    background-color: rgba(243, 120, 187, 1);
}

.correct_answer{
    color: green;
    border: none;
    background-color: #C2E2B4;
    font-weight: bold;
}

.wrong_answer{
    color: red;
    border: none;
    background-color: #FBB1AD;
    font-weight: bold;
}

.btn_board_game:hover{
    cursor: pointer;
    background-color: #F8D4E7;
    color: #000;
}
.game_result_board{
    margin-top: 10%;
    background-color: #FFF9FB;
    width: 30%;
    border-radius: 30px;
    text-align: center;
    padding: 1rem 0;
}
.game_result_board__title{
    color: #F378BB;
    font-weight: bold;
    font-size: 27px;
}
.game_result_board__result{
    font-weight: bold;
    font-size: 30px;
    color: #E81486;
}
.upload-form{
    background-color: #F9E0EE;
}
.upload-form_title{
    color: #E81486;
    font-weight: bold;
    position: relative;
}
.close_element{
    position: absolute;
    right: 2rem;
    top: 0;
    color: #E81486 !important;
    font-size: 22px;
    border: none;
    background-color: transparent;

}

.upload-form_note, .number-form_note{
    margin-top: 1rem;
    opacity: 0.5;
    font-style: italic;
}

.allow-btn{
    background-color: #F378BB;
    color: #FFF;
}

