{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Thay đổi mật khẩu</title>
</head>
<body class="image_div_main">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <nav class="box-shadow header-line fixed-top navbar bg-body-tertiary">
        <div class="container-fluid">
            <span><a style="color: white; font-size: 30px; font-family: cursive;" class="link-underline link-underline-opacity-0" href="{% url 'index' %}">NPVoca</a></span>
          <form class="d-flex" role="search">
            <div class="dropdown">
                <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i style="font-size: 20px" class="fas fa-bars"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end mt-3">
                    <li class="drop_item_user"><label class="mar-l-1"></label>{{ request.session.username }}</label></li>
                  <li><a class="dropdown-item drop_item" href=""><i class="mar-r-1 fas fa-lock"></i>Thay đổi mật khẩu</a></li>
                  <li><a class="dropdown-item drop_item" href="{% url 'logout' %}"><i class="mar-r-1 fas fa-sign-out-alt"></i>Đăng xuất</a></li>
                </ul>
              </div>
          </form>
        </div>
      </nav>
    <div class="full-high container main-content">
        <p class="text-title text-center">Thay đổi mật khẩu <i style="font-size: 20px" class="mar-l-1 fas fa-lock"></i></p>
        <form class="login mt-5 container" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                {% if field.errors %}
                    <p class="text-danger">{{ field.errors.as_text }}</p>
                {% endif %}
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                <div class="input-group">
                    {{ field }}
                    <span class="input-group-text pass" onclick="togglePassword('{{field.name}}')"><i class="fas fa-eye"></i></span>
                </div>
            </div>
            {% endfor %}
            <div style="position: relative;" class="button-group-sign-up mt-5">
                <button type="submit" class="btn cover-btn font-weight-bold pink-1 pd-3 d-inline">Change</button>
            </div>
        </form>
    </div>
</body>
<script>
    function togglePassword(passwordType) {
        var passwordField = document.getElementsByName(passwordType)[0];
        console.log(passwordField)
        if (passwordField.type === "password") {
            passwordField.type = "text";
        } else {
            passwordField.type = "password";
        }
    }
</script>
</html>