{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Lịch sử</title>
</head>
<body class="image_div_main">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <nav class="box-shadow header-line fixed-top navbar bg-body-tertiary">
        <div class="container-fluid">
            <span><a style="color: white; font-size: 30px; font-family: cursive;" class="link-underline link-underline-opacity-0" href="{% url 'index' %}">NPVoca</a></span>
          <form class="d-flex" role="search">
            <div class="dropdown">
                <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i style="font-size: 20px" class="fas fa-bars"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end mt-3">
                    <li class="drop_item_user"><label class="mar-l-1"></label>{{ request.session.username }}</label></li>
                  <li><a class="dropdown-item drop_item" href="#"><i class="mar-r-1 fas fa-lock"></i>Thay đổi mật khẩu</a></li>
                  <li><a class="dropdown-item drop_item" href="{% url 'logout' %}"><i class="mar-r-1 fas fa-sign-out-alt"></i>Đăng xuất</a></li>
                </ul>
              </div>
          </form>
        </div>
      </nav>
    <div class="full-high container main-content">
        <p class="text-title">Lịch sử làm bài của {{ test.topic }}<i style="font-size: 20px" class="mar-l-1 fas fa-clock"></i></p>
        <div class="list-game mt-5 col table-hover">
            <div class="row list-game-history__item" id="header">
                <div class="col text-center bold-font" id="game_time">Thời gian làm bài</div>
                <div class="col text-center bold-font" id="game_time">Bài test</div>
                <div class="col text-center bold-font" id="game_result" style="color: #E81486;">Kết quả</div>
                
            </div>
            {% if list %}
            {% for item in list %}
            <div class="row list-game-history__item">
                <div class="col text-center" id="game_time">{{ item.test_time|date:"d/m/Y" }} {{ item.test_time|time:"H:i" }}</div>
                <div class="col text-center" id="game_time">{% if item.type%} Quiz {% else %} Check {% endif %}</div>
                <div class="col text-center bold-font" id="game_result" style="color: #E81486;">{{ item.result }} / {{ item.number_of_questions }} </div>
            </div>
            {% endfor %}
            <nav aria-label="Page navigation">
                <ul class="pagination mt-5 justify-content-center">
                    <li class="page-item previous-page">
                        <a class="page-link page-link-text" href=""><i class="fas fa-arrow-left"></i></a>
                    </li>
                    <li class="page-item"><p class="page-link" id="currentPage" style="background-color: #E791C0; color: #FFF;"></p></li>
                    <li class="page-item next-page">
                        <a class="page-link page-link-text" href=""><i class="fas fa-arrow-right"></i></a>
                    </li>
                </ul>
              </nav>
            {% else %}
            <div class="row">
                <label class="col text-center mt-2">Chưa có lịch sử ~.~</label>
            </div>
        </div>
        {% endif %}
    </div>
</body>
<script>
// Lấy danh sách các item từ HTML
const Items = document.querySelectorAll('.list-game-history__item');
const items = Array.from(Items).filter(item => item.id !== 'header');
const pageLink = document.querySelector('.page-link-text');
const nextPageLink = document.querySelector('.next-page');
const previousPageLink = document.querySelector('.previous-page');

// Số lượng item trên mỗi trang
const itemsPerPage = 5;

// Tính số lượng trang
const totalPages = Math.ceil(items.length / itemsPerPage);

// Hiển thị trang đầu tiên khi tải trang
let currentPage = 1;
showPage(currentPage);

// Hàm hiển thị trang cụ thể
function showPage(page) {
    // Tính chỉ số bắt đầu và chỉ số kết thúc của item trên trang hiện tại
    const startIndex = (page - 1) * itemsPerPage;
    const endIndex = startIndex + itemsPerPage;
    if (page == 1){
        previousPageLink.classList.add('disabled_link');  
    }
    else{
        previousPageLink.classList.remove('disabled_link');  
    }
    if (page >= totalPages){
        nextPageLink.classList.add('disabled_link');    
    }
    else{
        nextPageLink.classList.remove('disabled_link');     
    }
    // Ẩn tất cả các item
    items.forEach(item => {
        item.style.display = 'none';
    });

    // Hiển thị các item thuộc trang hiện tại
    for (let i = startIndex; i < endIndex && i < items.length; i++) {
        items[i].style.display = 'flex';
    }
    // console.log(currentPage)
    var pageNumber = document.getElementById('currentPage');
    console.log(currentPage);
    pageNumber.textContent = currentPage.toString();
}
pageLink.addEventListener('click', function(event){
    event.preventDefault();
});
nextPageLink.addEventListener('click', function(event) {
    event.preventDefault();
    currentPage++;
    if (currentPage > totalPages) {
        nextPageLink.classList.add('disabled_link');
        currentPage = totalPages;
    }
    showPage(currentPage);
});
previousPageLink.addEventListener('click', function(event) {
    event.preventDefault();
    currentPage--;
    if (currentPage < 1) {
        previousPageLink.classList.add('disabled_link');
        currentPage = 1;
    }
    showPage(currentPage);
});
    
</script>
</html>