{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>
    <style>
        
    </style>
    <title>Trang chủ</title>
</head>
<body class="image_div_main">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <nav class="box-shadow header-line fixed-top navbar bg-body-tertiary">
        <div class="container-fluid">
            <span><a style="color: white; font-size: 30px; font-family: cursive;" class="link-underline link-underline-opacity-0" href="{% url 'index' %}">NPVoca</a></span>
          <form class="d-flex" role="search">
            <div class="dropdown">
                <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i style="font-size: 20px" class="fas fa-bars"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end mt-3">
                    <li class="drop_item_user"><label class="mar-l-1"></label>{{ username }}</label></li>
                  <li><a class="dropdown-item drop_item" href="{% url 'change_password' %}"><i class="mar-r-1 fas fa-lock"></i>Thay đổi mật khẩu</a></li>
                  <li><a class="dropdown-item drop_item" href="{% url 'logout' %}"><i class="mar-r-1 fas fa-sign-out-alt"></i>Đăng xuất</a></li>
                </ul>
              </div>
          </form>
        </div>
      </nav>
    <div class="full-high container main-content">
        <div class="list-btn">
            <button type="button" class="btn single-pink-btn pd-3 d-inline mar-r-1" data-bs-toggle="modal" data-bs-target="#uploadModal"><i class="fas fa-plus mar-r-1"></i>New</button>
            <a href="{% url 'list' %}" class="link-underline link-underline-opacity-0"><button type="button" class="btn single-pink-btn pd-3 d-inline"><i class="fas fa-cog mar-r-1"></i>Setting</button></a>
        </div>
        {% if list %}
        <div class="content col mt-5">
            {% for item in list %}
                {% if forloop.counter|add:"-1"|divisibleby:3 %}
            
            <div class="row pb-5 justify-content-around">
                {% endif %}
            <div class="col-md-3 game_group p-3">
                <div class="game-item">
                    <p for="game_title" class="bold-font game_title">{{item.topic}}</p>
                    <p for="game_time">{{ item.create_time|date:"d/m/Y" }} {{ item.create_time|time:"H:i" }}</p>
                    <p for="number_of_words" class="text-point">Số lượng từ: {{item.number_of_words}}</p>
                    <div class="list-btn-game text-center">
                        <a href="" class="link-underline link-underline-opacity-0 mar-r-1" data-bs-toggle="modal" data-bs-target="#numberModal" data-number-of-words="{{ item.number_of_words }}" data-test-type="check" data-test-id="{{item.test_id}}"><button type="button" class="btn pink-btn pd-3 d-inline"><i class="mar-r-1 fas fa-play"></i>Check</button></a>
                        {% if item.number_of_words >= 4 %}
                        <a href="" class="link-underline link-underline-opacity-0" data-bs-toggle="modal" data-bs-target="#numberModal" data-number-of-words="{{ item.number_of_words }}" data-test-type="quiz" data-test-id="{{item.test_id}}"><button type="button" class="btn pink-btn pd-3 d-inline"><i class="mar-r-1 fas fa-play"></i>Quiz</button></a>
                        {% else %}
                        <button type="button" class="btn pink-btn pd-3 d-inline dis-btn" disabled><i class="mar-r-1 fas fa-play"></i>Quiz</button>
                        {% endif %}
                    </div>
                </div>
            </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
    </div>
</body>
  <!-- Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <form class="modal-content upload-form" method="POST" action="/test/file/" enctype = "multipart/form-data">
        {% csrf_token %}
        <div class="upload-form_title mt-4">
          <h3 class=" text-center"  id="title">Tạo bộ từ vựng mới</h3>
          <button type="button" class="close_element" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-body" style="margin: 0 1rem;">
            <div class="mb-3">
                <label for="" class="form-label">Upload file (.xlsx)</label>
                <small id="file-error" class="text-danger mb-2" style="display: none;">Vui lòng nhập tên bộ từ vựng</small>
                <small id="file-error-2" class="text-danger mb-2" style="display: none;">File bị thiếu thông tin. Hãy kiểm tra lại!</small>
                <input type="file" name="file" class="form-control" id="file" accept=".xlsx, .xls .csv">
            </div>
            <div class="mb-3">
                <label for="topic" class="form-label">Tên bộ từ vựng *</label>
                <small id="topic-error" class="text-danger mb-2" style="display: none;">Vui lòng nhập tên bộ từ vựng</small>
                <input type="text" class="form-control" id="topic" name="topic" placeholder="Nhập tên bộ từ vựng">
                <label for="" class="upload-form_note">Chú ý: File excel chỉ có 2 cột (cột 1: từ tiếng anh, cột 2: nghĩa tiếng việt. Không viết tiêu đề 2 cột</label>
            </div>
        </div>
        <div class="upload-form__btn mb-4">
            <div class="text-center">
                <button type="submit" class="btn cover-btn bold-font pink-1 pd-3">
                    <i class="fas fa-upload mar-r-1"></i>Upload
                </button>
            </div>
        </div>
      </form>
    </div>
  </div>

  <div class="modal fade" id="numberModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <form class="modal-content upload-form" id="numForm" method="POST" action="{% url 'test' %}" enctype = "multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="type" id="type">
        <input type="hidden" name="test_id" id="test_id">
        <div class="upload-form_title mt-4">
          <h3 class=" text-center"  id="title">Kiểm tra từ vựng</h3>
          <button type="button" class="close_element" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-body" style="margin: 0 1rem;">
            <div class="mb-3">
                <label for="number_of_questions" class="form-label">Nhập số lượng câu hỏi *</label>
                <small id="number_of_questions-error" class="text-danger mb-2" style="display: none;">Vui lòng nhập số lượng</small>
                <small id="number_of_questions-error-2" class="text-danger mb-2" style="display: none;">Số lượng câu hỏi phải lớn hơn 0</small>
                <input type="text" class="form-control" id="number_of_questions" name="number_of_questions" placeholder="Nhập số lượng">
                <label for="" class="number-form_note" name="number_of_questions">Số lượng từ: </label>
            </div>
        </div>
        <div class="upload-form__btn mb-4">
            <div class="text-center">
                <button type="submit" class="btn cover-btn bold-font pink-1 pd-3">
                    <i class="fas fa-gamepad mar-r-1" style="size: 25px;"></i>Start
                </button>
            </div>
        </div>
      </form>
    </div>
  </div>
  <script>
    document.getElementById('file').addEventListener('change', function(event) {
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onload = function(e) {
            const data = new Uint8Array(e.target.result);
            const workbook = XLSX.read(data, { type: 'array' });

            // Lấy sheet đầu tiên
            const sheetName = workbook.SheetNames[0];
            const worksheet = workbook.Sheets[sheetName];

            // Chuyển đổi sheet sang dạng JSON
            const jsonData = XLSX.utils.sheet_to_json(worksheet, { header: 1 });
            // alert(jsonData.length);
            if (jsonData.length == 0){
                document.getElementById('file-error-2').style.display = 'block';
            } else {
            // Kiểm tra các hàng
            let emptyRows = [];
            for (let i = 0; i < jsonData.length; i++) {
                const row = jsonData[i];
                if (!row[0] || !row[1]) {
                    emptyRows.push(i + 1);
                }
            }

            // Hiển thị kết quả
            if (emptyRows.length > 0) {
                document.getElementById('file-error-2').style.display = 'block';
            } else {
                document.getElementById('file-error-2').style.display = 'none';
            }
        }
        };

        reader.readAsArrayBuffer(file);
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.querySelector('.upload-form');
        const topicInput = document.getElementById('topic');
        const topicError = document.getElementById('topic-error');
        const fileInput = document.getElementById('file');
        const fileError = document.getElementById('file-error');
        const numForm = document.getElementById('numForm');
        numForm.addEventListener('submit', function(event) {
            const numInput = document.getElementById('number_of_questions');
            const numError = document.getElementById('number_of_questions-error');
            const numError2 = document.getElementById('number_of_questions-error-2');
            if (!numInput.value.trim()) {
                // Nếu không có giá trị, hiển thị thông báo và ngăn chặn việc submit form
                numError.style.display = 'block';
                event.preventDefault();
            } else {
                if (numInput.value.trim() == 0){
                    numError2.style.display = 'block';
                    event.preventDefault();
                } else {
                    numError2.style.display = 'none';
                }
                // Nếu có giá trị, ẩn thông báo
                numError.style.display = 'none';
            }
            
        });
        form.addEventListener('submit', function(event) {
            let valid = true;
            if (!topicInput.value.trim()) {
                // Nếu không có giá trị, hiển thị thông báo và ngăn chặn việc submit form
                topicError.style.display = 'block';
                valid = false;
            } else {
                // Nếu có giá trị, ẩn thông báo
                topicError.style.display = 'none';
            }

            // Kiểm tra xem trường input file đã được chọn hay chưa
            if (!fileInput.files.length) {
                // Nếu không có file được chọn, hiển thị thông báo và ngăn chặn việc submit form
                fileError.innerText = 'Vui lòng chọn một file';
                fileError.style.display = 'block';
                valid = false;
            } else {
                // Nếu có file được chọn, kiểm tra phần mở rộng của nó
                const fileName = fileInput.files[0].name;
                const fileExtension = fileName.split('.').pop().toLowerCase();
                if (fileExtension !== 'xlsx' && fileExtension !== 'xls' && fileExtension !== 'csv') {
                    // Nếu phần mở rộng không phải là xlsx, xls hoặc csv, hiển thị thông báo và ngăn chặn việc submit form
                    fileError.innerText = 'File phải có định dạng .xlsx, .xls hoặc .csv';
                    fileError.style.display = 'block';
                    valid = false;
                } else {
                    // Nếu là định dạng hợp lệ, ẩn thông báo
                    fileError.style.display = 'none';
                }
            }
            // Nếu có ít nhất một lỗi, ngăn chặn việc submit form
            if (!valid) {
                event.preventDefault();
            }
        });
    });
    document.addEventListener('DOMContentLoaded', function() {
    var showModalBtns = document.querySelectorAll('.link-underline[data-bs-toggle="modal"]');
    var uploadFormNoteLabel = document.querySelector('.number-form_note');
    console.log(uploadFormNoteLabel.textContent)
    showModalBtns.forEach(function(btn) {
        btn.addEventListener('click', function(event) {
            var numberOfWords = event.currentTarget.getAttribute('data-number-of-words');
            // console.log(numberOfWords)
            var type = event.currentTarget.getAttribute('data-test-type');
            var typeInput = document.getElementById('type');
            typeInput.value = type;
            var test_id = event.currentTarget.getAttribute('data-test-id');
            var idInput = document.getElementById('test_id');
            idInput.value = test_id;
            uploadFormNoteLabel.textContent = "Số lượng từ: " + numberOfWords;
        });
    });
});



</script>
</html>