<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Thay đổi mật khẩu</title>
</head>
<body class="image_div_main">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <nav class="box-shadow header-line fixed-top navbar bg-body-tertiary">
        <div class="container-fluid">
            <span><a style="color: white; font-size: 30px; font-family: cursive;" class="link-underline link-underline-opacity-0" href="#">NPVoca</a></span>
          <form class="d-flex" role="search">
            <div class="dropdown">
                <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i style="font-size: 20px" class="fas fa-bars"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end mt-3">
                    <li class="drop_item_user"><label class="mar-l-1"></label>Yanni</label></li>
                  <li><a class="dropdown-item drop_item" href="#"><i class="mar-r-1 fas fa-lock"></i>Thay đổi mật khẩu</a></li>
                  <li><a class="dropdown-item drop_item" href="#"><i class="mar-r-1 fas fa-gamepad"></i>Bài test</a></li>
                  <li><a class="dropdown-item drop_item" href="#"><i class="mar-r-1 fas fa-sign-out-alt"></i>Đăng xuất</a></li>
                </ul>
              </div>
          </form>
        </div>
      </nav>
    <div class="full-high container main-content">
        <p class="text-title text-center">Thay đổi mật khẩu <i style="font-size: 20px" class="mar-l-1 fas fa-lock"></i></p>
        <form class="login mt-5 container" method="post">
            <div class="mb-3">
                <label for="curr_password" class="form-label">Current password *</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="curr_password" placeholder="Nhập mật khẩu hiện tại">
                    <span class="input-group-text pass" onclick="togglePassword()"><i class="fas fa-eye"></i></span>
                </div>
            </div>
            <div class="mb-3">
                <label for="new_pw" class="form-label">New password *</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="new_pw" placeholder="Nhập mật khẩu mới">
                    <span class="input-group-text pass" onclick="togglePassword()"><i class="fas fa-eye"></i></span>
                </div>
            </div>
            <div class="mb-3">
                <label for="re-password" class="form-label">Confirm new password *</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="re-password" placeholder="Xác nhận mật khẩu mới">
                    <span class="input-group-text pass" onclick="togglePassword()"><i class="fas fa-eye"></i></span>
                </div>
            </div>
            <div style="position: relative;" class="button-group-sign-up mt-5">
                <button type="submit" class="btn cover-btn font-weight-bold pink-1 pd-3 d-inline">Change</button>
            </div>
        </form>
    </div>
</body>
<script>
</script>
</html>