<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Danh sách</title>
</head>
<body class="image_div_main">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <nav class="box-shadow header-line fixed-top navbar bg-body-tertiary">
      <div class="container-fluid">
          <span><a style="color: white; font-size: 30px; font-family: cursive;" class="link-underline link-underline-opacity-0" href="#">NPVoca</a></span>
        <form class="d-flex" role="search">
          <div class="dropdown">
              <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i style="font-size: 20px" class="fas fa-bars"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-end mt-3">
                  <li class="drop_item_user"><label class="mar-l-1"></label>Yanni</label></li>
                <li><a class="dropdown-item drop_item" href="#"><i class="mar-r-1 fas fa-lock"></i>Thay đổi mật khẩu</a></li>
                <li><a class="dropdown-item drop_item" href="#"><i class="mar-r-1 fas fa-gamepad"></i>Bài test</a></li>
                <li><a class="dropdown-item drop_item" href="#"><i class="mar-r-1 fas fa-sign-out-alt"></i>Đăng xuất</a></li>
              </ul>
            </div>
        </form>
      </div>
    </nav>
    <div class="full-high container main-content">
        <p class="text-title">Danh sách<i style="font-size: 20px" class="mar-l-1 fas fa-bars"></i></p>
        <div class="list-game mt-5 col table-hover">
            <div class="row list-game__item">
                <div class="col" id="game_title">Chủ đề: Gia đình</div>
                <div class="col" id="game_time">2024-04-30 10:30</div>
                <div class="col bold-font" id="game_result" style="color: #E81486;">20/24</div>
                <div class="col align-right">
                    <a href="" class="list-game__btn"><i class="mar-r-1 fas fa-clock"></i></a>
                    <a href="" class="list-game__btn"><i class="mar-r-1 fas fa-eye"></i></a>
                    <button href="" class="list-game__btn"><i class="fas fa-trash" data-bs-toggle="modal" data-bs-target="#deleteModal"></i></button>
                </div>
            </div>
            <div class="row list-game__item">
                <div class="col" id="game_title">Chủ đề: Gia đình</div>
                <div class="col" id="game_time">2024-04-30 10:30</div>
                <div class="col bold-font" id="game_result" style="color: #E81486;">20/24</div>
                <div class="col align-right">
                    <a href="" class="list-game__btn"><i class="mar-r-1 fas fa-clock"></i></a>
                    <a href="" class="list-game__btn"><i class="mar-r-1 fas fa-eye"></i></a>
                    <button href="" class="list-game__btn"><i class="fas fa-trash" data-bs-toggle="modal" data-bs-target="#deleteModal"></i></button>
                </div>
            </div>
            <div class="row list-game__item">
                <div class="col" id="game_title">Chủ đề: Gia đình</div>
                <div class="col" id="game_time">2024-04-30 10:30</div>
                <div class="col bold-font" id="game_result" style="color: #E81486;">20/24</div>
                <div class="col align-right">
                    <a href="" class="list-game__btn"><i class="mar-r-1 fas fa-clock"></i></a>
                    <a href="" class="list-game__btn"><i class="mar-r-1 fas fa-eye"></i></a>
                    <button href="" class="list-game__btn"><i class="fas fa-trash" data-bs-toggle="modal" data-bs-target="#deleteModal"></i></button>
                </div>
            </div>
            <div class="row list-game__item">
                <div class="col" id="game_title">Chủ đề: Gia đình</div>
                <div class="col" id="game_time">2024-04-30 10:30</div>
                <div class="col bold-font" id="game_result" style="color: #E81486;">20/24</div>
                <div class="col align-right">
                    <a href="" class="list-game__btn"><i class="mar-r-1 fas fa-clock"></i></a>
                    <a href="" class="list-game__btn"><i class="mar-r-1 fas fa-eye"></i></a>
                    <button href="" class="list-game__btn"><i class="fas fa-trash" data-bs-toggle="modal" data-bs-target="#deleteModal"></i></button>
                </div>
            </div>
            <div class="row list-game__item">
                <div class="col" id="game_title">Chủ đề: Gia đình</div>
                <div class="col" id="game_time">2024-04-30 10:30</div>
                <div class="col bold-font" id="game_result" style="color: #E81486;">20/24</div>
                <div class="col align-right">
                    <a href="./history.html" class="list-game__btn"><i class="mar-r-1 fas fa-clock"></i></a>
                    <a href="./voca_list.html" class="list-game__btn"><i class="mar-r-1 fas fa-eye"></i></a>
                    <button href="" class="list-game__btn"><i class="fas fa-trash" data-bs-toggle="modal" data-bs-target="#deleteModal"></i></button>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination mt-5 justify-content-center">
              <li class="page-item">
                <a class="page-link page-link-text" href="#"><i class="fas fa-arrow-left"></i></a>
              </li>
              <li class="page-item"><p class="page-link" style="background-color: #E791C0; color: #FFF;">1</p></li>
              <li class="page-item">
                <a class="page-link page-link-text" href="#"><i class="fas fa-arrow-right"></i></a>
              </li>
            </ul>
          </nav>
    </div>
</body>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content delete-form">
            <div class="modal-header">
              <h1 class="modal-title fs-5 text-title" id="title">Xóa bài test</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <label for="">Bạn có chắc chắn muốn xóa bài test này không ?</label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
              <button type="button" class="btn allow-btn">Yes</button>
            </div>
        </form>
    </div>
  </div>
<script>
    
</script>
</html>